body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 270px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid darkred;
}

.profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    outline: 1px solid darkred;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.name {
    font-size: 20px;
    margin-bottom: 5px;
}

.job-title {
    background-color: darkred;
    color: #ccc;
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.description {
    text-align: center;
    line-height: 1.5;
}
